<div class="flex h-screen max-w-7xl mx-auto bg-gray-100">
  <!-- Sidebar -->
  <div class="flex flex-col w-65 bg-white border-r border-gray-300">
    <!-- Logo/Brand -->
    <div class="flex justify-center items-center gap-2 py-4"> 
      <i class="pi pi-code"></i>
      <h1 class="text-xl text-gray-600 font-semibold">My App</h1>
    </div>

    <!-- Navigation -->
    <p-panel-menu
      [model]="navItems"
      [pt]="{
        root: 'border-0! gap-0!',
        panel: 'border-0! p-0!',
        submenuIcon: 'order-1 ml-auto text-black!',
        headerLink: 'hover:bg-gray-200 text-black! rounded-lg!',
        headerIcon: 'text-black!',
        itemIcon: 'text-black!',
        itemLink: 'hover:bg-gray-200 text-black! rounded-lg!'
      }"
      [multiple]="true"
    ></p-panel-menu>
  </div>

  <!-- Main Content Area -->
  <div class="flex-1 overflow-y-auto p-4 bg-white">
    <router-outlet></router-outlet>
  </div>
</div>
