/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
/* input */
.p-password input {
    width: inherit;
}

.p-autocomplete input {
    width: inherit;
}       

.p-panelmenu {
  --p-transition-duration: 1000ms;
}